<!DOCTYPE html>
<html>
  <head>
    <title>Prediction Data</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>
      body {
        background-color: #87CEFA;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Predicted Amount:</span>
          <p>{{ pred }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
